

<div class="container">
  <app-nav (sendId)="open($event)"></app-nav>
  <div id="home" *ngIf="home === true">
    <app-header-list [childHeaderList]="masterHeader"></app-header-list>
    <app-featured-content [childFeatured]="masterFeatured"></app-featured-content>
    <app-news-feed [childNewsList]="masterNews"></app-news-feed>
  </div>
  <div id="movies" *ngIf="movies === true">
    <app-movies [childMovieList]="masterMovies"></app-movies>
  </div>
  <div id="tv" *ngIf="tv === true">
    <app-tv [childTvList]="masterTv"></app-tv>
  </div>

</div>

